/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */
@import "tailwindcss";

/* IBM Plex Sans */ 

/* @font-face {
	font-family: "IBMPlex";
	src: url("/fonts/IBMPlexSans-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;

}
@font-face {
	font-family: "IBMPlex";
	src: url("/fonts/IBMPlexMono-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal; 
	font-display: swap;
} */

@theme {  
	--font-sans: "IBM Plex Sans", sans-serif; 
	--font-mono: "IBM Plex Mono", sans-serif; 
	--font-serif: "Lora", serif;
}

@layer base {
	:root {
		--accent: #93d57f; /* hijau untuk dark theme */
		--accent-dark: #5ca63c;
		--black: 9, 9, 11; /* #1a1a1a background */
		--gray: 150, 150, 150;
		--gray-light: 256, 256, 256;
		--gray-dark: 230, 230, 230;
		--gray-gradient: rgba(var(--black), 90%), rgba(var(--black), 90%);
		--box-shadow:
			0 2px 6px rgba(var(--gray-light), 25%), 0 8px 24px rgba(var(--gray-light), 15%), 0 16px 32px rgba(var(--gray-light), 10%);
	}
	
	/* Line each header */
	.prose h2,
	.prose h3,
	.prose h4 {
		@apply border-b border-[#93d57f]/15 pb-2 mt-8 mb-2;
	}
	.prose p {
		margin-bottom: 1em;
	}

	h1 {
	@apply text-xl leading-tight font-bold text-gray-200 
				sm:text-2xl lg:text-4xl;
	}
	h2 {
	@apply mt-6 mb-2 text-lg leading-tight font-bold text-[#93d57f]
				sm:text-xl lg:text-2xl;
	}
	h3 {
	@apply mb-4 text-base leading-normal font-bold text-[#93d57f]
				sm:text-lg lg:text-xl;
	}
	h4 {
	@apply mb-3 text-sm leading-normal font-bold text-gray-200 
				sm:text-base lg:text-lg;
	}
	h5 {
	@apply mb-2 text-xs leading-tight font-bold text-gray-200 
				sm:text-sm lg:text-base;
	}

	p {
		@apply text-lg leading-loose text-gray-800;
	}

	/* list */
	ul {
		@apply text-base leading-loose list-disc list-outside ml-12 text-gray-300;
	}
	ol {
		@apply text-base leading-loose list-decimal list-outside ml-12 text-gray-300;
	}

	/* nested list */
	ul ul {
		@apply list-disc ml-6;
	}
	ul ul ul {
		@apply list-disc ml-6;
	}
	ol ol {
		@apply list-[lower-roman] ml-6;
	}
	ol ol ol {
		@apply list-[lower-roman] ml-6;
	}
}

body {
	font-family: (--font-sans);
	margin: 0;
	padding: 0;
	text-align: left;
	background-color: rgb(var(--gray-light));
	background-size: 100% 600px;
	word-wrap: break-word;
	overflow-wrap: break-word;
	color: rgb(var(--gray-light));
	font-size: 20px;
	line-height: 1.7;
}
main{
	@apply w-auto max-w-[73rem] mx-auto 
}

header {
	@apply w-auto max-w-[73rem] mx-auto 
}

footer {
	@apply w-auto max-w-[73rem] mx-auto 
}

textarea, input {
	width: 100%;
	font-size: 16px;
	color: rgb(var(--gray-dark));
	background-color: rgb(var(--gray-light));
	border: 1px solid rgb(var(--gray));
	border-radius: 6px;
}

table {
	width: 100%;
	color: rgb(var(--gray-dark));
	border-collapse: collapse;
}
table th, table td {
	border: 1px solid rgb(var(--gray));
	padding: 0.5em;
}

code {
	padding: 2px 5px;
	background-color: rgb(var(--gray-light));
	border-radius: 2px;
	color: rgb(var(--gray-dark));
}
pre {
	padding: 1.5em;
	border-radius: 8px;
	margin-bottom: 10px;
	background-color: rgb(var(--gray-light));
	color: rgb(var(--gray-dark));
	font-size: small;
}
pre > code {
	all: unset;
}
blockquote {
	border-left: 4px solid var(--accent);
	padding: 0 0 0 20px;
	margin: 0px;
	font-size: 1.333em;
	color: rgb(var(--gray-dark));
}
hr {
	border: none;
	border-top: 1px solid rgb(var(--gray));
}
@media (max-width: 720px) {
	body {
		font-size: 18px;
	}
	main {
		padding: 1em;
	}
}




