@import "tailwindcss";
@import "@fontsource-variable/roboto-mono";
@import "@fontsource-variable/roboto-serif";
@import "@fontsource-variable/besley";
@import "@fontsource-variable/merriweather";

@variant dark (&:where(.dark, .dark *));

:root {
  --color-bg: #ffffff;
  --color-text: rgb(45, 45, 45);
  --color-border: rgba(45, 45, 45, 0.4);
  --font-mono: "Besley Variable", serif; /* dark mode */
}

.dark {
  --color-bg: #0a0a0a;
  --color-text: rgba(168, 192, 106, 1);
  --color-border: rgba(168, 192, 106, 0.4);
  --font-mono: "Roboto Mono Variable", monospace; /* dark mode */
}

body {
  font-family: var(--font-mono);
  background-color: var(--color-bg);
  color: var(--color-text);
}

* {
  border-color: var(--color-border);
}

@keyframes slideUp {
  from {
    transform: translateY(60%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

#clock {
  overflow: hidden;
  display: inline-flex;
  gap: 1px;
}

.clock-part {
  display: inline-block;
  animation: slideUp 0.2s ease-out;
}

.clock-static {
  display: inline-block;
}
