---
// Components
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Analytics from '@vercel/analytics/astro';
import ProfileBelow from "@/components/ProfileBelow.astro";
import ProfileTop from "@/components/ProfileTop.astro";
import ProfileMid from "@/components/ProfileMid.astro";

// Constants
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en" class="dark bg-stone-950 scroll-smooth">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
     <Analytics />
  </head>
  <body class="font-sans leading-relaxed antialiased mx-5">
    <Header />
    <main transition:animate="fade">

      <ProfileTop/>

      <ProfileMid />

      <ProfileBelow />
    </main>
    <footer >
      <Footer />
    </footer>
  </body>
</html>
