---
import BaseHead from "../components/BaseHead.astro";
import Analytics from '@vercel/analytics/astro';
import ProfileBelow from "@/components/ProfileBelow.astro";
import ProfileMid from "@/components/ProfileMid.astro";
import FaceWithCounter from "@/components/FaceWithCounter.astro";

import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import "@/styles/index.css";
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <Analytics />
  </head>
  <body class="bg-white font-serif leading-relaxed antialiased min-h-screen h-auto flex items-start justify-start md:items-center md:justify-center px-6 pt-12 md:pt-0">
    <div class="blob-group">
      <div class="blob1"></div>
      <div class="blob2"></div>
      <div class="blob3"></div>
    </div>

    <main class="w-full max-w-2xl">
      <div class="flex flex-col items-start">
        <FaceWithCounter />

        <header class="mb-6">
          <h1 class="text-2xl font-medium">Ferdian N. Fariza</h1>
        </header>

        <hr class="w-full mb-6" />

        <div class="mb-8">
          <ProfileMid />
        </div>

        <hr class="w-full mb-6" />

        <div class="w-full">
          <ProfileBelow />
        </div>
      </div>
    </main>
  </body>
</html>
