---
import { PiGithubLogo} from "react-icons/pi";
import { PiLinkedinLogo } from "react-icons/pi";
const today = new Date();
---

<footer
  class="grid place-content-start mt-20 mb-52 px-5"
>

  <div class="flex-row sm:flex font-mono items-center gap-4">
    <div class="flex items-center gap-4 mb-10 sm:mb-0">
      <a 
      href="https://twitter.com/astrodotbuild" 
      target="_blank" 
      class=" hover:text-blue-500 transition-colors duration-100"
      >
      <PiGithubLogo size={20}/>
      </a>
      <a 
      href="https://github.com/withastro/astro" 
      target="_blank" 
      class=" hover:text-blue-500 transition-colors duration-100"
      >
      <PiLinkedinLogo size={20}/>
      </a>
    </div>
    <div class="w-px h-4 bg-zinc-600 mx-2 hidden sm:block"></div>
    <p class="text-sm text-zinc-600">&copy; {today.getFullYear()} Ferdian. made by code</p>
  </div>

</footer>
