---
const today = new Date();
---

<footer class="grid text-black place-content-end w-auto h-auto place-items-end pt-20 pb-50">
	

	<p class="text-base text-blue-500 font-mono">print(ferdian.vision())</p>
	<h1 class="max-w-xl text-5xl w-auto text-black mb-10 text-right">clean data, clear results.</h1>
	<div>
		<a href="https://m.webtoo.ls/@astro" target="_blank">
			LINKEDIN
		</a>
		<a href="https://twitter.com/astrodotbuild" target="_blank">
			GITHUB
		</a>
		<a href="https://github.com/withastro/astro" target="_blank">
			EMAIL
		</a>
	</div>
	<p class="text-base text-black">&copy; {today.getFullYear()} Ferdian. All rights reserved.</p>
</footer>
