---
const username = 'ferdianfariza';

import { GithubGraph as GithubGraphReact } from "./GithubGraph";

interface GithubData {
  total: {
    [year: string]: number;
  };
  contributions: Array<{
    date: string;
    count: number;
    level: number;
  }>;
}

const url = new URL(`/v4/${username}?y=2025`, 'https://github-contributions-api.jogruber.de');
const response = await fetch(url);
const data = (await response.json()) as GithubData;
---
<div class="p-3 pb-2 sm:p-8 sm:pb-6 bg-zinc-900 border rounded-lg col-span-1 sm:col-span-2">
  <GithubGraphReact data={data.contributions} client:load />
</div>
