---
import { PiAtom } from "react-icons/pi";
import { AiOutlinePython } from "react-icons/ai";
---


<div class="flex flex-col gap-6">
   <p
      class="inline text-md text-zinc-400/90 font-sans sm:font-mono font-normal text-justify"
   >
      My work focuses on data engineering,
      backend systems, and building applications primarily with <span
      class="inline-flex items-center align-middle gap-2"
      ><AiOutlinePython size={18} color="#3776AB" />Python</span
      >  and <span class="inline-flex items-center align-middle gap-2"
      ><PiAtom size={18} color="#61DAFB" />React</span
      >. I maintain and operate several web-based services, one of which
      is oxidraw.com. Outside of development, i love mechanical keyboards, and hands-on
      hardware tinkering.
   </p>
</div>