---
const oxidraw = "https://oxidraw.com/landingpage";
const lelesegar = "https://lelesegar.com/";
const sonarkode = "https://sonarkode.blog/";
---

<section class="flex flex-col gap-6 text-[0.9rem]">
  <p class="leading-relaxed">
    Founder and maintainer at <a href={oxidraw} class="underline underline-offset-4" target="_blank">Oxidraw</a>.
  </p>

  <p class="leading-relaxed">
      Former PR Team Intern at Dian Nuswantoro University. Currently building <a href={lelesegar} class="underline underline-offset-4" target="_blank">lelesegar</a> to support local businesses, and writing at <a href={sonarkode} class="underline underline-offset-4" target="_blank">Sonarkode</a> about software development and engineering.
  </p>
  <p class="leading-relaxed">
      Some say you miss 100% of the shots you don’t take and that's true.
  </p>

  <p class="text-sm leading-relaxed">
    Keeping my profile photo fresh! Here are some snapshots from recent adventures and work moments.
  </p>


  <p class="leading-relaxed">
      Cheers!
  </p>

</section>