---
---


<section class="flex gap-8 text-sm font-medium">
  <!-- <a href="/now" class="underline underline-offset-4 decoration-zinc-600 hover:decoration-zinc-400 transition-colors">Now</a> -->
  <a href="https://github.com/ferdianfariza" class="underline underline-offset-4 decoration-zinc-600 hover:decoration-zinc-400 transition-colors">GitHub</a>
  <a href="mailto:hello@ferdian.me" class="underline underline-offset-4 decoration-zinc-600 hover:decoration-zinc-400 transition-colors">Mail</a>
</section>