---
const oxidraw = "https://oxidraw.com/landingpage";
const lelesegar = "https://lelesegar.com/";
const sonarkode = "https://sonarkode.blog/";
const idss = "https://idss.dinus.ac.id/";
---

<section class="flex flex-col gap-6 text-base text-justify">
  <p class="leading-relaxed">
    Co-founder and maintainer at <a href={oxidraw} class="underline underline-offset-4" target="_blank">Oxidraw</a>.
  </p>

  <p class="leading-relaxed">
      Now intern at PT Lumintu Group as a Software Engineer and Research Assistant at Intelligent Distributed Surveillance and Security (<a href={idss} class="underline" target="_blank">IDSS</a>).
  </p>
  <p class="leading-relaxed">
      Ex Telkom Indonesia Software Engineer & AI Engineer Intern. Former PR Team Intern at Dian Nuswantoro University.
  </p>
  <p class="leading-relaxed">
     Built <a href={lelesegar} class="underline" target="_blank">lelesegar</a> to support local businesses, and write at <a href={sonarkode} class="underline" target="_blank">Sonarkode</a> about software development and engineering.
  </p>
  <p class="leading-relaxed">
      You miss 100% of the shots you don’t take.
  </p>

</section>