---
---


<section class="flex gap-6 text-base font-semibold">
  <!-- <a href="/now" class="underline underline-offset-4 decoration-zinc-600 hover:decoration-zinc-400 transition-colors">Now</a> -->
  <a href="https://www.linkedin.com/in/ferdian-nur-fariza/" target="_blank" class="underline underline-offset-4 decoration-zinc-600 hover:decoration-zinc-400 transition-colors">Let's Connect</a>
  <a href="https://github.com/ferdianfariza" class="underline underline-offset-4 decoration-zinc-600 hover:decoration-zinc-400 transition-colors">GitHub</a>
  <a href="mailto:hello@ferdian.me" class="underline underline-offset-4 decoration-zinc-600 hover:decoration-zinc-400 transition-colors">Mail</a>

  <span class="text-zinc-600">
    Tap counter:
    <span id="tap-counter-value">0</span>
  </span>
</section>